---
layout: default
---

<div class="home">
  <div class="intro-hero">
    <div class="container">
      <div class="text">
        <h1>
          Techno-Inequality
        </h1>
        <h3>
          The difference in opportunity between those who have access to technology, and <span class="underline">those who do not.</span>
        </h3>

        <p>
          As with any inequality, technological inequality affects all aspects of life. Your ability to find a job, to receive an education, to change your current socioeconomic situation - they are all instrinsically affected by the technologies you have access to.
        </p>
        <h3>
          This is especially true for computer & internet access.
        </h3>
        <p>
           <a href="http://www.econstor.eu/bitstream/10419/30590/1/615363539.pdf">A study from 2007</a> found that "a 10 percentage-point increase in broadband penetration raises annual per-capita growth by 0.9-1.5 percentage points".
        </p>
        <p>
          There are many variables for why the internet is a driving force for economic development, but arguably one key aspect is that it is a portal for <b>easily accessible software</b> that is especially useful for smaller businesses and entrepreneurs.
        </p>
      </div>
    </div>
  </div>
  <div class="problem-hero">
  <div class="container">
    <div class="text">
      <h2>
        Approaching The Problem
      </h2>
    </div>
  </div>
  </div>
  <div class="posts">
    {% for post in paginator.posts %}
      {% assign author = site.authors[post.author] %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <img src="{{ post.image }}" alt="">
          <h5 class="h2 post-title">{{ post.title }}</h5>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
        <div class="post-meta">
          <div class="post-date">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">
          Read this
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>