---
layout: default
---

<div class="home">
  <div class="intro-hero" id="top">
    <div class="container">
      <div class="text">
        <h3>Can we solve</h3>
        <h1>
          Techno-Inequality?
        </h1>
        <h3>
          The difference in opportunity between those who <span class="red">have</span> access to technology, and those who <span class="red">do not</span>.
        </h3>
        <p>
          As with any inequality, technological inequality affects all aspects of life. Your ability to find a job, to receive an education, to change your current socioeconomic situation - they are all intrinsically affected by the technologies you have access to.
        </p>
        <h3>
          This is especially true for computer, smartphone & internet access.
        </h3>
        <p>
           <a href="http://www.econstor.eu/bitstream/10419/30590/1/615363539.pdf">A study from 2007</a> found that "a 10 percentage-point increase in broadband penetration raises annual per-capita growth by 0.9-1.5 percentage points".
        </p>
        <p>
          There are many variables for why the internet is a driving force for economic development, but arguably one key aspect is that it is a portal for <i>easily accessible software</i> that allows individuals to automate processes as well as connect with individuals they would otherwise not come in contact with. 
        </p>
      </div>
    </div>
  </div>
  <span class="offset-scroll" id="problem-definition">
    
  </span>
  <div class="red-hero">
    <div class="container">
      <div class="text">
        <h2>
          Approaching The Problem
        </h2>
        <h3>
          This project proposes that there are three main causes of techno-inequality:
        </h3>
        <ol class="big-list">
          <li>
            Access to the internet is limited in parts of the world due to either infrastructure limitations or government policy
          </li>
          <li>
            Not all individuals can afford a broadband or 3G/4G subscription
          </li>
          <li>
            Not all individuals can afford the devices required to access the internet. 
          </li>
        </ol>
        <p>
          While the obvious approach would be to tackle one of these directly, these are very large and complex issues. 
        </p>
        <p>
          You could campaign for governments to improve internet access, find a way to subsidise internet access, you could donate devices or develop cheaper ones.
        </p>
        <h3>
          However all of these solutions require time and - more importantly - substantial capital. 
        </h3>
      </div>
    </div>
  </div>
  <div class="white-hero">
    <div class="container">
      <div class="text">
        <h3>
           In the absence of time and capital, we still have the ability to affect change via smaller, targeted solutions.
        </h3>
        <p>
          While not a direct solution to this problem, this project proposes a small solution with the potential to make a sizable impact - a <i>microintervention.</i>
        </p>
        <p>
          Instead of focusing on providing the technology itself - why not attempt to provide a more cost-effective solution with the same benefits?
        </p>
        {% image phones.png %}
        <div class="caption">
          Mobile Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        </div>
        <p>
          Older cellphones (not smartphones) are much cheaper devices, and since the technology has been around since 1983 cell tower infrastructure is widely available even in relatively poor countries. 
        </p>
        <p>
          According to sources only 50% of the world's population having access to 3G or 4G networks, and a measly 9.8% of the world's population has acess to broadband. In comparison, mobile cellular penetration was almost at 100% in 2013. 
        </p>
        <p>
          <b>Data Sources:</b>
            <a href="http://www.pewglobal.org/2014/02/13/emerging-nations-embrace-internet-mobile-technology/" target="_blank">
              Pew Global, 
            </a>
            <a href="http://www.worldbank.org/en/news/press-release/2012/07/17/mobile-phone-access-reaches-three-quarters-planets-population" target="_blank">
              World Bank, 
            </a>
            <a href="http://www.pcmag.com/article2/0,2817,2407335,00.asp" target="_blank">
              PCMag, 
            </a>
            <a href="http://techcrunch.com/2012/05/27/mobile-developing-world/" target="_blank">
              Tech Crunch, 
            </a>
            <a href="http://www.deccanherald.com/content/332274/there-more-mobile-phones-people.html" target="_blank">
              Deccan Herald, 
            </a>
            <a href="http://en.wikipedia.org/wiki/List_of_countries_by_number_of_broadband_Internet_subscriptions" target="_blank">
              Wikipedia
            </a>

        </p>
        <h3>
          Why not use existing cellphone technology and infrastructure to create useful services that interface with the internet?
        </h3> 
      </div>
    </div>
  </div>
  <span class="offset-scroll" id="smaas">
    
  </span>
  <div class="grey-hero">
    <div class="container">
      <div class="text">
        <h2>SMaaS: Short Messaging as a Service</h2>  
        <p>
          SMaaS is a portmanteau of two terms:
        </p>
        <ol>
          <li>
            <b>SMS:</b>
            <br>    
            Short Message Service: a system for sending short text messages, as from one cell phone to another or from a computer to a cell phone.
          </li>
          <li>
            <b>SaaS</b>
            <br>
            Software as a Service (SaaS) is a software distribution model in which applications are hosted by a vendor or service provider and made available to customers over a network, typically the Internet.
          </li>
        </ol>
        <p>
          These kind of services already exist in some parts of the world, for example, <a href="http://bustime.mta.info/wiki/Help/SMSSearching" target="_blank">MTA Bus Time</a> which allows you to check when buses are arriving at a stop.
        </p>
        <p>
          There's also the much hyped <a href="http://www.getmagicnow.com/">Magic</a> which you basically text to have someone act as your virtual assistant
        </p>
        <div class="row">
          <div class="small-preview">
            {% image bus-time.gif %}  
          </div>
          <div class="small-preview">
            {% image magic.PNG %}  
          </div>
          <div class="caption">
            These wonderful examples were captured by <a href="https://twitter.com/libovness" target="_blank">Jonathan Libov</a> in his article about the <a href="http://whoo.ps/2015/02/23/futures-of-text" target="_blank">Futures of Text</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="offset-scroll" id="the-tech">
    
  </span>
  <div class="twilio-hero">
    <div class="container">
      <div class="text">
        <h2>
          The Tech
        </h2>
        {% image twilio-hero.png %}
        <p></p>
        <div class="row">
          <a href="https://www.twilio.com/sms" target="_blank" class="twilio-bubble">
            {% image twilio-logo-white.png %}
          </a>
          <div class="twilio-caption">
            <p>
              <a href="https://www.twilio.com/sms" target="_blank">Twilio's SMS services</a> allow you to Programmatically Send, Receive & Track SMS globally from one API.
            </p>
          </div>
        </div>
        <p>
          The other components of these services will likely have to vary from application to application. 
        </p>
        <p>
          Have a suggestion about technology that would be useful to build SMaaS projects? Create a <a href="https://github.com/babolili/smaas" target="_blank">pull request</a> with your suggestion
        </p>
      </div>
    </div>
  </div>
  <span class="offset-scroll" id="the-designs">
    
  </span>
  <div class="white-hero">
    <div class="container">
      <div class="text">
        <div class="posts">
          <h1>
            The Designs
          </h1>
          <p>
            There are two main challenges of creating a SMS-based interface: 
          </p>
          <ol>
            <li>
              <b>
               Conciseness
              </b>
              <br>
              You must keep any interaction that needs to be in the same message under 160 characters
              <br>
            </li>
            <li>
              <b>
                Instructional
              </b>
              <br>
              The user needs to be able to understand how to use your service with very little guidance as the only way for them to learn how to use your service is likely to be in the service itself
            </li>
          </ol>
          <p>
            The designs below explore how these limitations affect and inform the user flow
          </p>
          {% for post in paginator.posts %}
            {% assign author = site.authors[post.author] %}
            <div class="post">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                <img src="{{ post.image }}" alt="">
                <h2 class="h2 post-title">{{ post.title }}</h2>
              </a>
              <div class="post-meta">
                <div class="post-author">
                  <a href="https://twitter.com/{{ author.twitter }}" target="_blank">
                    {{ author.display_name }}
                  </a>
                </div>
                <div class="post-date">
                  {{ post.date | date: "%B %-d, %Y" }}
                </div>
              </div>
              <div class="content">
                {{ post.content }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>    
  </div>
  {% include pagination.html %}
  <span class="offset-scroll" id="contribute">
    
  </span>
  <div class="red-hero">
    <div class="container">
      <div class="text">
        <h2>Contribute</h2>
        <h3>
          The SmaaS project is open source and can be found <a href="https://github.com/babolili/smaas" target="_blank">here</a>
        </h3>
        <h4>Calling all UX Designers!</h4>
        <p>
          Want to take on the challenge of transforming your favourite SaaS or other online service into a SMS product? 
        </p>
        <p>
          If you're comfortable with coding fork the repo and create a PR with your design suggestion as a page in the <i>_posts</i> folder. The SMaaS Project uses <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> so as long as you can use markdown you can contribute!
        </p>
        <p>
          If not, feel free to <a href="mailto:stridlinnea@gmail.com">get in touch</a> with your contribution
        </p>
        <h4>Technical Suggestions</h4>
        <p>
          Got technical advice, or think you can build a product from a design in the SMaaS project? submit a pull request with notes in index.html with your tech advice or contribution or <a href="mailto:stridlinnea@gmail.com">get in touch</a> with your suggestions. 
        </p>
        <h4>
          Want to make any of the ideas in here a reality?
        </h4>
        <p>
          Go ahead! There is no need to ask or give any credit but I would <a href="mailto:stridlinnea@gmail.com">love to know</a> how it goes.
        </p>
        <div class="caption">
          <b>Disclaimer:</b> The SMaaS project was developed as a response to <a href="http://www.hyperisland.se/" target="_blank">Hyper Island's</a> <a href="https://www.hyperisland.com/creative-task/2015equality?_ga=1.241783941.609412779.1422912409" target="_blank">Creative Task 2015</a>
        </div>
        <p>
          This site was built by <a href="http://linneastrid.com/" target="_blank">Linnea</a> with <i class="fa fa-heart"></i> and <a href="http://jekyllrb.com/" target="_blank">Jekyll</a>
        </p>
      </div>
    </div>
  </div>
</div>
