---
layout: default
---

<div class="home">
  <div class="intro-hero">
    <div class="container">
      <div class="text">
        <h1>
          Techno-Inequality
        </h1>
        <h3>
          The difference in opportunity between those who <span class="red">have</span> access to technology, and those who <span class="red">do not</span>.
        </h3>
        <p>
          As with any inequality, technological inequality affects all aspects of life. Your ability to find a job, to receive an education, to change your current socioeconomic situation - they are all instrinsically affected by the technologies you have access to.
        </p>
        <h3>
          This is especially true for computer, smartphone & internet access.
        </h3>
        <p>
           <a href="http://www.econstor.eu/bitstream/10419/30590/1/615363539.pdf">A study from 2007</a> found that "a 10 percentage-point increase in broadband penetration raises annual per-capita growth by 0.9-1.5 percentage points".
        </p>
        <p>
          There are many variables for why the internet is a driving force for economic development, but arguably one key aspect is that it is a portal for <i>easily accessible software</i> that allows individuals to automate processes as well as connect with individuals they would otherwise not come in contact with. 
        </p>
      </div>
    </div>
  </div>
  <div class="problem-hero">
    <div class="container">
      <div class="text">
        <h2>
          Approaching The Problem
        </h2>
        <h3>
          This project proposes that there are three main causes of techno-inequality:
        </h3>
        <ol class="big-list">
          <li>
            Access to the internet is limited in parts of the world due to either infrastructure limitations or government policy
          </li>
          <li>
            Not all individuals can afford a broadband or 3G/4G subscription
          </li>
          <li>
            The high cost of devices that enable internet access is in itself a barrier to entry.
          </li>
        </ol>
        <p>
          While the obvious approach would be to tackle one of these directly, these are very large and complex issues. 
        </p>
        <p>
          You could campaign for governments to improve internet access, find a way to subsidise internet access, to donate devices or develop cheaper ones.
        </p>
        <h3>
          However many of these more direct solutions require time and more importantly, substantial capital. 
        </h3>
      </div>
    </div>
  </div>
  <div class="solution-hero">
    <div class="container">
      <div class="text">
        <h2>A Microintervention</h2>
        <p>
          In the absence of time and capital, we still have the ability to affect change via smaller, targeted solutions
        </p>
        <p>
          While no a direct solution to this problem, this microintervention 
        </p>
      </div>
    </div>
  </div>
  <div class="posts">
    {% for post in paginator.posts %}
      {% assign author = site.authors[post.author] %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <img src="{{ post.image }}" alt="">
          <h5 class="h2 post-title">{{ post.title }}</h5>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
        <div class="post-meta">
          <div class="post-date">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">
          Read this
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
