<header>
  <a href="#top" data-scroll="#top" class="logo scroll-link">
    
  </a>
  <div class="nav-button">
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li> 
  </div>
  <div class="bubble-nav">
    <li>
      <a href="#problem-definition" data-scroll="#problem-definition" class="scroll-link">
        Defining the Problem
      </a>
    </li>
    <li>
      <a href="#smaas" data-scroll="#smaas" class="scroll-link">
        What is SMaaS?
      </a>
    </li>
    <li>
      <a href="#the-designs" data-scroll="#the-designs"  class="scroll-link">
        The Designs
      </a>
    </li>
    <li>
      <a href="#contribute" data-scroll="#contribute"  class="scroll-link">
        Contribute
      </a>
    </li>
  </div>
</header>