.text {
  @include col(8,2,$big-tablet,12,0);
}

.intro-hero {
  padding: $padding-xl;
  padding-top: $padding-xl*2;
  background-image: image-url('circuit.svg');
  background-color: $grey-background;
  background-size: cover;
  background-attachment: fixed;
  @extend %white-fonts;
  h1 {
    padding-bottom: $padding-xl;  
  } 
  h3, p {
  	padding-bottom: $padding-l;
  }
  
  p {
    a {
      color: white;
      font-weight: bold;
      border-bottom: 1px solid white;
      @include transition(all 0.1s ease-in-out);
      &:hover {
      	border-bottom: 3px solid white;
      }
    }
  }
}

.problem-hero {
	background: $red;
	padding: $padding-xl;
	@extend %white-fonts;
  h2 {
    padding-bottom: $padding-xl;  
  } 
  .big-list {
    border: 6px dotted darken($red,20%);
    margin: $padding-l 0;
    padding: $padding-l;
  }
}

.solution-hero {
  padding: $padding-xl;
}
.sms-hero {
  padding: $padding-xl;
  background-color: $background;
}
.sms-styling {
  background-color: $sms-bg;
  background-image: image-url('rgb.png');
  box-shadow: 0px 0px $padding-base 0px rgba($sms-color,0.4) inset;
  @extend %sms-fonts;
}