body, html {
	overflow-x: hidden;
	&.noscroll {
		overflow-y: hidden;
		overflow-x: hidden;
	}
}
.navbar-offset {
	position: absolute;
	top: $navbar-height;
	height: 100%;
	right: 0px;
  left: 0px;
}

.container {
  @include outer-container;
}
.row {
	clear: both;
	@include clearfix;
	display: block;
	width: 100%;
}
.sms-row {
	clear: both;
	@include clearfix;
	display: block;
	width: 100%;
	counter-reset: chapter;
	.small-preview {
		@include media($min-large-phone) {
			@include omega(3n);
		}
		h5:before {
			counter-increment: chapter;               /* Increment the section counter*/
			content: counter(chapter) '. ';
		} 
	}
}
.offset-scroll {
	display: block; 
	position: relative; 
	top: -$navbar-height; 
	visibility: hidden;
}