@charset "utf-8";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "styling/global/hard-reset";
@import "styling/global/mixins";
@import "styling/global/variables";
@import "styling/global/icon-variables";
@import "styling/global/typography";
@import "styling/global/layouts";

@import "styling/components/pagination";
@import "styling/components/navigation";
@import "styling/components/post";

@import "styling/pages/home";



footer {
  margin-top: 40px;
  border-top: thin solid #f3f3f3;
}

footer,
footer .wrap {
  color: #7a7a7a;
  background-color: #fafafa;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  clear: both;

  margin: 40px 0 20px;
  padding:40px 0 20px;
  border-top: thin solid #f3f3f3;
  .nav-footer {
    @include outer-container;
  }
  .blog-by {
    @include span-columns(6);
  }
  .footer-links {
    @include span-columns(6);
    margin:0;
    a {
      color:$seriousfox-color;
      font-family: $sans;
      float: right;
      font-weight: bold;
      font-size: rem(16px);
      line-height: 1.25;
      padding-right: 10px;
    }
  }

}

footer:after {
  content: "";
  display: block;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

// styling for code
@import "solarized-light";
